body {
  margin: 0;
}

ul {
  list-style: none;
}

/* NAVBAR */

.navbar {
  background-color: #00416d;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-items {
  padding: 0;
  margin: 10px 30px;
  display: flex;
}

.nav-item {
}

.brand {
  margin-right: auto;
}

.nav-item > a {
  font-family: "Anton";
  font-size: 1.5rem;
  color: #f1f6f9;
  text-decoration: none;
  padding: 10px;
}

.nav-item > a:hover {
  background-color: black;
}

.icon {
  display: none;
  padding: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f1f6f9;
}

@media (max-width: 800px) {
  .nav-items li:not(:first-child) {
    display: none;
  }

  .nav-items a.icon {
    display: block;
  }

  .nav-items.responsive {
    display: flex;
    flex-direction: column;
  }

  .nav-items.responsive .icon {
    position: absolute;
    right: 30px;
    top: 0;
  }

  .nav-items.responsive li:not(:first-child) {
    float: none;
    display: block;
    padding-left: 30px;
  }

}

/* ABOUT SECTION */

.about-container {
  background-color: #f5f1da;
  padding-top: 60px;
}

.about-section {
  padding: 75px 75px;
  display: flex;
  align-items: center;
}

.about-image {
  flex: 50%;
  margin-left: 30px;
}

.about-image > img {
  width: 100%;
  height: auto;
}

.about-text {
  flex: 50%;
  color: #070F1B;
}

.about-text > h1 {
  font-family: "Anton";
  font-size: 4rem;
  margin: 0;
}

.about-text > p {
  font-family: "Roboto";
  font-size: 2rem;
}

@media (max-width: 800px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-left: 0;
  }
}

/* NYU SECTION */

.nyu-container {
  background-color: #f2dcbb;
}

.nyu-section {
  padding: 75px 75px;
  display: flex;
  align-items: center;
}

.nyu-image {
  flex: 50%;
  margin-right: 30px;
}

.nyu-image > img {
  width: 100%;
  height: auto;
}

.nyu-text {
  flex: 50%;
  color: #070F1B;
  text-align: center;
}

.nyu-text > h1 {
  font-family: "Anton";
  font-size: 2.5rem;
  margin: 0;
  padding-top: 30px;
}

.nyu-text > h3 {
  font-family: "Anton";
  font-size: 1.5rem;
  margin-top: 10px;
}

.nyu-text > table {
  font-family: "Roboto";
  font-size: 1rem;
  text-align: left;
  margin: 50px auto;
}

.nyu-text > table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
}

.body-link:link {
  text-decoration: none;
}

.body-link:visited {
  text-decoration: none;
  color: #00416d;
}

.body-link:hover {
  text-decoration: underline;
}

/* LP SECTION */

.lp-container {
  text-align: center;
  background-color: #f5f1da;
  padding: 60px 0;
}

.lp-section > h1 {
  font-family: "Anton";
  font-size: 2.5rem;
  margin: 0;
}

.lp-section > h3 {
  font-family: "Anton";
  font-size: 1.5rem;
  margin-top: 10px;
}

.lp-grid {
  display: flex;
  margin: 0 50px;
}

.lp-grid-item {
  flex: 50%;
}

.lp-img {
  width: 80%;
  height: auto;
  margin-top: 30px;
}

.lp-img-link:hover {
  opacity: 0.75;
}

.lp-grid-item > h1 {
  font-family: "Anton";
  font-size: 2rem;
  margin: 20px 0 5px 0;
}

.lp-grid-item > h3 {
  font-family: "Anton";
  font-size: 1rem;
  margin: 0;
}

.lp-grid-item > ul {
  text-align: left;
  padding: 0 75px;
  font-family: "Roboto";
  font-size: 1rem;
  text-indent: -15px;
  margin-left: 15px;
}

.lp-grid-item > ul > li {
  padding: 5px 0;
}

@media (max-width: 800px) {
  .lp-grid {
    flex-direction: column;
  }

  .lp-grid-item {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px 0;
  }
}
